<html>
    <head>
        <title>Simple Web Page</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <header>
            <h1>Simple Web Page</h1>
        </header>

        <p><b>{{ name }} <br> {{ email }}</b></p>



        <footer>
        
            <b>Contact Information</b>
            <p>Simple Web Page <br><br>
            Mobile: 9999999999 <br><br>
            Email: user@example.com <br></p>

        </footer>

    </body>
</html>